:root{
	--color-one: #333;
	--color-two: #000;
	--color-three: #f7ca00;
	--color-four: #fff;
	--color-five: #f2be8d;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {
	scroll-behavior:smooth;
}

body{
	background-color: var(--color-two);
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

/*NAV*/

.navb {
	width:100%;
	position:fixed;
	top:0;
	z-index:999;
	padding: 1vw 2vw;
	transition: 0.6s;
}

.navb h1 {
	color: var(--color-five);
	font-size: 1.7vw;
	font-family: 'Poppins', sans-serif;
	float:left;
	margin-left: 2vw;
	transition: 0.6s;
}

.navb .bar{
	padding-right: 10vw;
}

.disappear{
	top: -200;
}

.navb .bar a{
	float: right;
    display: block;
	color: var(--color-four);
	font-size: 1.3vw;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
	padding: 0vw 0.6vw;
    margin-right: 0.7vw;
    position: relative;
    transition: 0.5s;
}

.navb a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--color-three);
    height: 2px;
    transition: all 0.6s;
}

.navb a:hover::after {
    width: 100%;
}

.navb .bar a:hover{
	color: var(--color-three);
}

/*home*/
.gallery{
    width: 100%;
    margin: 0;
    background-color: var(--color-two) ;
}

.gallery .container{
    border: #000 solid 7px;
    width: 100%;
    padding: 0;
}

.gallery img{
    height: 100%;
	width: 100%;
	filter: grayscale(100%);
	opacity: 0.7;
}

.gallery h5{
	color: #000;
	font-size: 2vw;
	background-color: var(--color-three);
	padding: 1vw;
	margin-left: 25vw;
	margin-right: 25vw;
}

.gallery p{
	color: #000;
	font-size: 2vw;
	background-color: var(--color-three);
	padding: 1vw 2vw;;
	margin-top: -40vw;
	float: left;
}

/*ABOUT*/
.abt{
	width: 100%;
	padding-top: 8vw;
}

.abt img{
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
}

.abt h2{
	color: var(--color-four);
	font-size: 4vw;
	padding-bottom: 0.5vw;
	text-align: right;
	font-family: 'Merriweather', serif;
}

.abt p{
	color: var(--color-four);
	font-size: 1vw;
	text-align: right;
}